.backgroundElement {
    flex-basis: 1500px;
    resize: both;
    overflow: auto;
    background-image: url("../images/niebo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}